@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  /* --blue-500: rgb(11, 19, 43);
  --blue-300: rgb(28, 37, 65);
  --blue-100: rgb(58, 80, 107);
  --cyan-300: rgb(91, 192, 190);
  --cyan-100: rgb(111, 255, 233); */

  --blue-500: rgb(0, 0, 0);
  --blue-300: rgb(28, 37, 65);
  --blue-100: rgb(58, 80, 107);
  --cyan-300: rgb(91, 192, 190);
  --cyan-100: rgb(111, 255, 233);
  --grey-700: rgb(26, 26, 26);
  --brown-700: rgb(42, 38, 32);

  --xs: 0.2rem;
  --small: 0.5rem;
  --medium: 1rem;
  --large: 1.5rem;
  --xl: 2rem;
  --xxl: 2.5rem;
  --xxxl: 3rem;
  --xxxxl: 4rem;

  --1px: calc(1 / 16rem);

  --primary-font-family: "Fira Sans", sans-serif;
  --logo-font-family: "Bebas Neue", sans-serif;
}

/* reset styles */
body {
  margin: 0;
  background-color: var(--blue-500);
  position: relative;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

/* custom css */
#navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.76);
  color: white;

  /* z index to remove conflict with below carousel image and movie details divs */
  z-index: 5;
}

#menu-container {
  display: flex;
  justify-content: space-between;
  padding: var(--xs) var(--medium);
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

  /* styles for logo text */
  font-family: var(--logo-font-family);
  font-weight: 400;
  font-size: var(--xxl);
}

#burger-icon {
  height: var(--xxxl);
  margin: auto 0;
}

#nav-items {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--medium);
  height: 100vh;

  font-family: var(--primary-font-family);
  font-weight: 500;

  /* slideDown animation everytime user opens this menu */
  animation: slideDown 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-item {
  width: 80%;
  border-radius: var(--small);
  padding: var(--medium);

  border: 1px solid rgba(255, 255, 255, 0.195);

  text-align: center;
}

#buy-ticket-btn {
  border-color: var(--cyan-300);
  background-color: var(--cyan-300);
  color: black;
}

#active-page {
  border-color: var(--cyan-300);
  color: var(--cyan-300);
}

#footer {
  background-color: var(--grey-700);
  color: white;
  font-family: var(--primary-font-family);
  font-weight: 100;

  /* seperates footer from privacy */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--medium);

  padding: var(--xxxl);
}

#footer-logo {
  font-family: var(--logo-font-family);
  font-size: var(--xxxl);
}

#footer-socials-container {
  display: flex;
  justify-content: space-between;
  column-gap: var(--xl);

  margin: var(--xxl) 0 0 0;
}

/* adjusting icon size --- icons from svgrepo -- edited in svgrepo */
.footer-socials {
  width: var(--xl);
}

#privacy-section {
  background-color: var(--brown-700);
  font-family: var(--primary-font-family);
  font-size: var(--medium);
  font-weight: 100;
  color: white;

  padding: var(--xxxl);
  text-align: center;
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1441px) {
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
